[2019-06-22 15:23] #296 closed

[2019-06-22 15:23] #317 closed

[2019-06-22 15:23] #319 closed

[2019-06-22 15:23] #136 closed

[2019-06-22 15:23] #232 closed

[2019-06-22 15:23] #353 closed

[2019-06-22 15:23] #209 closed

[2019-06-22 15:23] #364 closed

[2019-06-22 15:23] #365 closed

[2019-06-22 15:23] #367 closed

[2019-06-22 15:23] #76 closed

[2019-06-22 15:23] #382 closed

[2019-06-22 16:22] #92 closed

[2019-06-22 16:22] #81 closed

[2019-06-22 16:22] #105 closed

[2019-06-22 16:22] #115 closed

[2019-06-22 16:22] #128 closed

[2019-06-22 16:22] #108 closed

[2019-06-22 16:22] #116 closed

[2019-06-30 16:46] Henry-Asante commented on #457
I am about to use mongoosastic, I would love to join as a permanent maintainer as I believe it's a great project.

[2019-06-30 17:28] guumaster commented on #457
A good start would be to fix the open PR #485 and make that tests pass to merge the new deps versions.

[2019-06-30 17:31] guumaster commented on #457
@AxelJunker about different versions. I've setup a `renovate` bot to open PRs automatically with new deps udpates. As soon as the new versions have passing tests I plan to merge them and release a `mongoosastic` version.

That's what you mean? Or keeping a table of compatibility? I'm not sure how to change tests to support multiple version at the same time.

[2019-07-01 11:26] Jeyasribakaran commented on #78
mongoosastic plugin did't support in elasticsearch 7.2

[2019-07-01 11:35] Jeyasribakaran opened #487 "Mongoosastic can't use elasticsearch version 7.2"
## Your Environments
- mongoosastic version: x.y.z
- node version: x.y.z
- mongoose version: x.y.z
- elasticsearch version: x.y.z

## Expected Behavior

## Actual Behavior

## Error Stack

[2019-07-01 11:35] #487 closed

[2019-07-02 15:36] Henry-Asante commented on #457
Alright Noted!

[2019-07-05 10:27] AxelJunker commented on #457
@guumaster I don't know exactly what I mean, hehe. But the renovate bot is really good news! I agree that it would be difficult to support multiple versions at the same time. So maybe we only support the latest stable release of the deps and let the renovate bot tell us when something is broken?

Another thing we can discuss is that the [elasticsearch.js client](https://github.com/elastic/elastics

[2019-07-12 01:32] SaeedSheikhi opened #489 "Error [ERR_UNHANDLED_ERROR]: Unhandled error. (null)"
## Your Environments
- mongoosastic version: 4.5.0
- node version: 12.2.0
- mongoose version: 5.6.4
- elasticsearch version: 7.x

## Expected Behavior

what should we do to get more info from error? e.g which model or docs are throwing error or something like that.
## Actual Behavior

crash the app on production env
## Error Stack

[code]

[2019-07-14 18:23] #466 closed

[2019-07-24 13:46] sugandhigopi commented on #489
same here

[2019-07-30 22:24] gate3 commented on #404
This is the current behaviour for me too. Mine indexes only 10 out of 401

[2019-08-05 07:25] dhavaldav opened #491 "Types cannot be provided in put mapping requests, unless the include_type_name parameter is set to true."
## Types cannot be provided in put mapping requests, unless the include_type_name parameter is set to true.
- mongoosastic version: 4.5.0
- node version: 12.5.0
- mongoose version: 5.6.8
- elasticsearch version: 7.3.0
## include_type_name TRUE
In ES7.0,we can provide type when creating an index unless setting include_type_name. so i have pass include_type_name "TRUE" on **const typeName = options.

[2019-08-07 03:12] t0rton opened #492 "syncing mongo data to elasticsearch on aws"
## Your Environments
- mongoosastic version: 4.5.0
- node version: 8.11.4
- mongoose version: 5.1.4
- elasticsearch version: 16.3.0

## Expected Behavior
I try to sync mongo data to elasticsearch on aws with that collection has only 700k document
but when error 10k docs have sync
I call function

    const Location = db.model(modelName, LocationSchema, collectionName)
    const stream = Location.s

[2019-08-21 15:20] #28 closed

[2019-08-21 22:20] #68 closed

[2019-08-22 04:20] #480 closed

[2019-08-22 06:20] #481 closed

[2019-08-25 13:05] iiitmahesh commented on #491
@dhavaldav even I am facing the same issue. any update from your side??

[2019-08-25 13:41] iiitmahesh commented on #487
@Jeyasribakaran  Do you have any suggestions??? I am trying to use es7.1 but getting the type issues #491

[2019-08-25 14:15] ronnyvdb commented on #491
Having same issue

[2019-08-26 08:54] iiitmahesh commented on #491
As a temporary hack (it worked for my case at least)
I have added below line

at the line at 87 in _**nodemodules/mongoosastic/lib/mongoosastic.js**_

[code]

[2019-08-28 06:52] jewanisw commented on #489
Same for me. Happening with synchronize or createMapping, not sure what yet. Node 10.6.0, mongoosastic 4.5.0, mongoose 5.6.10, elasticsearch version 6.x

[2019-08-28 16:59] iiitmahesh opened #494 "Not able to Index _id"
Not able to Index  `_id`
[code]

## Your Environments
- mongoosastic version: 4.5.0
- node version: 10.15.3
- mongoose version: 5.3.12
- elasticsearch version: 7.1

## Expected Behavior

[code]
Output Expected :

[code]
For the above query data, not _id in the source.

[2019-08-30 12:40] AxelJunker commented on #494
Mongoosastic filters out the `_id` field because the `_id` field isn't allowed inside a document in Elasticsearch. You will have to change the name of that field to `id`, for example.

This is the error you would get if you try to index a document with an `_id` field:

[code]

[2019-09-13 03:28] tranquoctuyen97 opened #503 "[mapper_parsing_exception] Root mapping definition has unsupported parameters"
[mapper_parsing_exception] Root mapping definition has unsupported parameters

- mongoosastic version: 4.5.1
- node version: 10.16.3
- mongoose version: 5.2.7
- elasticsearch version: 7.3.1

Here is my code:
`
use strict';

import { mongoose } from '../config/database';
import Mongoosastic from 'mongoosastic';

const UserSchema = mongoose.Schema({

    name: { type: String, default: 'None', maxlen

[2019-09-19 17:05] BigFax commented on #41
We should query them manually by ids. (in case someone else would like to know)

[2019-09-23 19:08] chaddjohnson commented on #491
@guumaster Can we get this fix into main mongoosastic?

[2019-09-24 18:04] guumaster commented on #491
The library still doesn't support Elastic 7. There is a PR open #502 but it doesn't seem a quick migration. Any help and PR are welcome.

[2019-09-26 22:20] sherif-hafiz commented on #457
@guumaster are you still looking for contributors?

[2019-09-26 23:15] guumaster commented on #457
Yes. The next goal would be to migrate to the new  elastic library and get it to support version 7. Any help is welcome

[2019-09-30 07:03] sherif-hafiz commented on #457
I more than happy to contribute

[2019-10-04 13:17] foxinni commented on #489
Any idea about this? Also getting it.

[2019-10-04 17:08] SaeedSheikhi commented on #489
@foxinni  Yeah, last week I investigate the source code, replace `bulkErrEm.emit('error', null, info.index)` with `bulkErrEm.emit('error', null, info)` will show the actual error.

if that doesn't, work put `console.log(info)` before this line
https://github.com/mongoosastic/mongoosastic/blob/1ba9fc864fc61d973021e51a3baeafcee93427e6/lib/mongoosastic.js#L725
it probably works. the main issue is rel

[2019-10-04 17:46] foxinni commented on #489
![image](https://user-images.githubusercontent.com/124101/66228334-72d26f80-e6df-11e9-948b-1826a3ccf37b.png)

Console-ing `info` helped. I can see now what the issue was.

`curl -XPUT -H "Content-Type: application/json" http://localhost:9200/_all/_settings -d '{"index.blocks.read_only_allow_delete": null}'` solved it for me.

[2019-10-04 18:32] SaeedSheikhi commented on #489
Cheers @yoitsro,
I can't reproduce issue to test the PR :D, did the first solution work?

[2019-10-08 11:03] foxinni commented on #489
Not sure. The root problem was the read_only mode. Ping me again if you don't get to reproduce.

[2019-10-10 20:18] afnanali1992 opened #507 "Indexing Mongoose References for Deep Nested Type"
Hello, I want to Populate across multiple levels and I have the following Schema :
**Transaction Schema**
[code]
**Product Schema**
[code]
**Populate Code**
[code]
**Result**
I Get this Erorr "failed to parse field [products.product] of type [text] in document ..."

So My Question How Could I make deep Populate using mongoosastic ?

[2019-10-13 05:11] #492 closed

[2019-10-18 01:45] ietuday commented on #367
@bhutiyaDilip I got the same issue
-mongoosastic version: 4.4.1
-node version: 10.16.2
-mongoose version: 5.4.6
-elasticsearch version: 6.5

Please help if you got any solutions. Thanks in advance.

[2019-10-19 07:41] lakshmipriyamukundan commented on #457
I'm aware about mongoose and 'elasticsearch' module and working over for 3 years and hope I too can contribute

[2019-10-24 17:51] LukeeeeBennett commented on #457
Happy to help

[2019-11-05 13:12] #494 closed

[2019-11-19 05:22] #503 closed

[2019-11-30 19:05] #491 closed

[2019-12-04 19:09] benFyre opened #515 "Indexing fails when saving documents with populated references"
## Your Environments
- mongoosastic version: 4.5.1
- node version: 8.9.4
- mongoose version: 5.4.22
- elasticsearch version: 7.1.1

## Expected Behavior

Example Schema
[code]
Saving this entity through mongoose should index role as a stringified ObjectId regardless of whether or not role has been populated prior to saving as I have not defined an es_schema on the role field.
## Actual Behavior

S

[2019-12-10 18:24] ddtraceweb commented on #489
i have same error.

[2019-12-11 17:06] ddtraceweb commented on #515
i have same problem.

[2019-12-16 21:46] #507 closed

[2019-12-19 04:09] sachinchhabra-kiwi commented on #491
As per Elastic new Version

Index creation, index template, and mapping APIs support a new **include_type_name** URL parameter that specifies whether mapping definitions in requests and responses should contain the type name. The parameter defaults to true in version 6.8 to match the pre-7.0 behavior of using type names in mappings. It defaults to false in version 7.0 and will be removed in versio

[2019-12-19 04:11] sachinchhabra-kiwi opened #516 "[illegal_argument_exception] Types cannot be provided in put mapping requests, unless the include_type_name parameter is set to true."
As per Elastic new Version

Index creation, index template, and mapping APIs support a new include_type_name URL parameter that specifies whether mapping definitions in requests and responses should contain the type name. The parameter defaults to true in version 6.8 to match the pre-7.0 behavior of using type names in mappings. It defaults to false in version 7.0 and will be removed in version 8.

[2019-12-30 09:28] Hisham-TK commented on #457
I would love to contribute,
I use mongoose for more than 1 year at a very advanced level,
and ElasticSearch not too much but my income projects related to ES.
I think i will do my best.

[2020-01-06 06:05] zhfahan77 commented on #489
I am having the same error

### Environment
- node version: 10.17.0
- elasticsearch : 16.3.0
- mongoosastic : 4.5.0
- mongoose: 5.5.6

**I am running Elastic Search in Docker.**

When I printer the error object like @foxinni i have found same error details

`{ type: 'cluster_block_exception',
  reason:
   'index [products] blocked by: [FORBIDDEN/12/index read-only / allow delete (api)];' }`

![ima

[2020-01-06 06:29] zhfahan77 opened #522 "develop branch is missing"
I have gone through the [CONTRIBUTING.md](https://github.com/mongoosastic/mongoosastic/blob/master/CONTRIBUTING.md). According to the MD it says to cut a head of `develop` branch to further create `feature/*` branch. However, there isn't any `develop` branch.

So I here propose

either
- we create a develop branch

or
- we update `CONTRIBUTIN.md` to mention to cut feature branches from master.

[2020-01-10 07:53] thanhdat21293 commented on #489
Same for me.
After that, I seem it conflic between mongoosastic with elasticsearch.

I removed code the below and it working.
[code]

[2020-02-05 13:21] uramen commented on #489
`User.synchronize()` tries to insert existing indexes from MongoDB via existing mapping. It seems that we need to clear the mapping and create a fresh one. But the question is how?

[2020-02-05 17:12] SaeedSheikhi commented on #489
@uramen [Removing data from elasticsearch](https://stackoverflow.com/questions/22924300/removing-data-from-elasticsearch)

[2020-02-06 03:11] zhfahan77 commented on #489
However, it would be better if we can update only the diff, removing everything and re indexing might create congestion if data set is huge.

[2020-02-16 18:15] #515 closed

[2020-02-24 05:08] #516 closed

[2020-02-26 15:13] cedricVu opened #527 "es_type seems not working, help."
When trying to use es_type for a number like this:
`number: {
        type: Number,
        es_indexed: true,
        es_type: 'integer',
        min: 1000,
        max: 10000000,
    },`
However, still showing in elastic type is long instead of integer.
I did delete the index in elastic and re-index. But the result hasn't been changed.

## Your Environments
- mongoosastic version: 4.5.1
- node ve

[2020-03-03 23:00] ahmadelkhateb opened #529 "Model.synchronize() doesn't stream all the data into ES Cluster"
My Environments
- mongoosastic version: 4.5.1
- node version: 12.13.1
- mongoose version: 5.8.9
- elasticsearch version: 7.6

I am trying to stream a mongo Collection which contains 205k records in elastic search cluster but it always stream just from 193k to 194k which means that about 11k records isn't streamed and i can't find the problem . I tried it more than 10 times

Anyone has idea about t

[2020-03-07 07:44] guumaster commented on #522
Thanks for pointing this out. I've uploaded a `develop` branch.

[2020-03-07 07:44] #522 closed

[2020-03-09 19:07] ShibaniMahapatra commented on #232
Hey @whnunlife can you confirm on this? And also it would be really great if you could share some code example for the same. I am trying to insert data in MongoDb and Elastic at the same time and search the same using Elastic. I am not sure if that is possible in Keystonejs. Thanks in advance. :)

[2020-03-12 23:07] oxyii commented on #324
@simo385 So strange but `es_fielddata` (and others `es_*`) works **ONLY** if type present because of this
https://github.com/mongoosastic/mongoosastic/blob/1ba9fc864fc61d973021e51a3baeafcee93427e6/lib/mapping-generator.js#L96-L99

So
[code]
will works

[2020-03-18 20:05] ankit307 opened #530 "Hydrate Error when no data in elastic"
While using hydrate with a model having no data in elastic get Error:
/usr/src/backend/node_modules/mongoosastic/lib/mongoosastic.js:113
  const ids = results.hits.map((result, idx) => {
                      ^

TypeError: Cannot read property 'hits' of undefined
    at hydrate (/usr/src/backend/node_modules/mongoosastic/lib/mongoosastic.js:113:23)
    at esClient.search (/usr/src/backend/node_mod

[2020-03-22 16:32] ankit307 commented on #530
For more context, we have to add body key after results for extracting hit data.

[2020-03-24 05:06] #527 closed

[2020-04-03 19:17] BigFax opened #534 "Subdocuments automatically indexed, can't unindex"
Let's take two basic mongoose schemas :

[code]

Elasticsearch will automatically indexed `title` and `content` from `parentSchema` and not other fields. This is the expected behavior.

Now, `children` will be also fully indexed (path, name, description, created_at...).
How can I don't have my children to be automatically fully indexed into ElasticSearch ?

I tried to put `es_indexed: false` on ch

[2020-04-05 08:46] BigFax commented on #534
One solution is to change the syntax,

From :
[code]

To :
[code]

However, i still think it shouldn't index subdocuments by default and it should works  with the other syntax which is the one use in mongoose documentation.

[2020-04-05 09:49] guumaster commented on #534
Hi @BigFax, thanks for your contribution. If that solution fix the issue you can open a PR with it.

[2020-04-05 09:57] BigFax commented on #534
Hi @guumaster, the solution is a modification in my schema, not in the module itself.

However, I don't think the module works as it should for the reasons I mentionned above. When I will have time, I will investigate the source code of the module itself.

[2020-04-09 21:15] BigFax commented on #394
It's an old issue, but I have the same question.

Let's take the example [in the doc](https://github.com/mongoosastic/mongoosastic/blob/master/docs/README.md#indexing-mongoose-references). It would be indexed in elasticsearch with this structure :

[code]

Unlike [mongoose-elasticsearch-xp](https://github.com/jbdemonte/mongoose-elasticsearch-xp#indexing-populated-models) which would only have one

[2020-04-09 21:25] BigFax opened #536 "References populated as embedded document in ElasticSearch"
It's an old issue (#394), but I have the same question.

Let's take the example [in the doc](https://github.com/mongoosastic/mongoosastic/blob/master/docs/README.md#indexing-mongoose-references). It would be indexed in elasticsearch with this structure :

[code]

Unlike [mongoose-elasticsearch-xp](https://github.com/jbdemonte/mongoose-elasticsearch-xp#indexing-populated-models) which would only ha

[2020-04-11 14:40] khalilmansouri commented on #457
I am on working one project includes mongoosastic, I would love to contribute.

[2020-04-13 04:42] #489 closed

[2020-05-10 01:24] #529 closed

[2020-05-12 12:06] bilgeeren opened #538 "Cannot reach a field for term aggregation after applying range query"
## Your Environments
- mongoosastic version: 4.5.1
- mongoose version: 5.7.7
- elasticsearch version: 7.2.0

## Expected Behavior
[code]
When I am running this query I expected to take top 5 documents with likedPostId in a given likeDate rate.
Without terms aggregation I can take the documents in given range with both likeDate and likedPostId datas.  Also when using `likeDate` as `field` it is wor

[2020-05-13 08:44] sajadghawami commented on #441
same here

[2020-05-16 20:44] rturk commented on #48
I have the same issue when trying to index something similar

[code]

[2020-05-17 22:23] rturk commented on #534
@BigFax IMO we should index subdocuments as they are a part of the document. You either explicitly index all of the document (Default behavior) or individually set fields that will or not be indexed

[2020-05-18 07:40] BigFax commented on #534
@rturk Indeed it should be indexed by default, but only if `es_indexed: true` is not present in the schema definition.

The expected behavior defined in the documentation is that all fields are indexed by default (subdocument too), but if `es_indexed: true` is defined somewhere, only fields with `es_indexed: true` are indexed.

In this situation, `es_indexed: true` is defined in some fields, so on

[2020-05-18 16:20] rturk commented on #534
@BigFax makes sense.
Maybe if we add more corner cases tests this issue will be more clear to debug

[2020-05-18 21:35] jgcmarins commented on #457
cc @rturk

[2020-05-20 01:09] rturk opened #539 "RFC - saveOnSynchronize"
This a request for comments.

Hi All, can you please clarify why `saveOnSynchronize` defaults to true? This causes all documents to be saved to MongoDB prior to be sent to ES.

This behavior seems to be odd and unnecessary given that the doc originated from MongoDB. So this just saves a document that an instant ago was already in the DB. Looks this consumes massive resources unnecessary, also this

[2020-05-29 03:15] #530 closed

[2020-06-01 12:08] Code-Crash commented on #157
Hi ,

Is there any way to do function score queries using this library?

Thanks

[2020-06-05 17:10] ddtraceweb opened #540 "unindex element that are not on mongodb because deleted manually on mongo"
Hello,

how i can unindex element that are deleted manualy on mongodb.

[code]
Today i filter the result and it's not very good, i would like delete these items.

Thanks.

[2020-06-11 07:39] #540 closed

[2020-06-16 11:10] #536 closed

[2020-07-18 15:58] #538 closed

[2020-07-20 15:22] ddtraceweb opened #541 "Error [ERR_UNHANDLED_ERROR]: Unhandled error. (null)"
Hello, i have this error, have you an idea ?

Jul 20 15:14:44 sml-apig-05 api[53304]: events.js:306
Jul 20 15:14:44 sml-apig-05 api[53304]: throw err; // Unhandled 'error' event
Jul 20 15:14:44 sml-apig-05 api[53304]: ^
Jul 20 15:14:44 sml-apig-05 api[53304]: Error [ERR_UNHANDLED_ERROR]: Unhandled error. (null)
Jul 20 15:14:44 sml-apig-05 api[53304]: at EventEmitter.emit (events.js:304:17)
Jul 20

[2020-07-26 03:28] #539 closed

[2020-09-03 09:09] ddtraceweb commented on #541
du to error in model.

[2020-09-03 09:09] #541 closed

[2020-09-21 12:58] sunny-shu commented on #457
@guumaster
Are you still recruiting maintainers?
if yes,I am more free，i can take a try。

[2020-09-22 08:00] guumaster commented on #457
@sunny-shu you are welcome to start maintaining this repo. First task would be to make tests pipelines pass, future task includes fix issues, maybe typescript re-writes. But tests are always main priority.

[2020-09-22 11:09] sunny-shu commented on #457
ok, i will take a try.

[2020-09-22 21:47] RaphaelHadjadj commented on #457
Thanks for this great package. I'm also interested by re-writes using TypeScript. I'm currently using your package, I don't have a lot of time, but I could try to rewrite it using TypeScript or make a definition file.

[2020-10-02 22:35] machadogj opened #543 "`_type` should be added to bulk operations"
When using bulk operation, ElasticSearch expects the `type` (_type in the command) field to be present:

[code]

In both the index and delete bulk operations.

https://github.com/mongoosastic/mongoosastic/blob/558ba1a486ae1efdb0a48dba279d69118679d3c5/lib/mongoosastic.js#L300
https://github.com/mongoosastic/mongoosastic/blob/558ba1a486ae1efdb0a48dba279d69118679d3c5/lib/mongoosastic.js#L311

[2020-10-07 10:36] ShettyAshwin commented on #457
Hey I am interested, please let me know how can help

[2020-10-15 10:34] rilias92 commented on #541
Hi @ddtraceweb, I think that I am facing the same issue... Could you more specific about the error?

[2020-10-15 11:57] ddtraceweb commented on #541
in my case, it's when elastic search model is not the same of the document you send to be indexed. You must look in error log of ElasticSearch...

[2020-10-15 13:38] rilias92 commented on #541
Ok great...Thank you very much!!

[2020-10-28 13:17] germes96 opened #545 "Index depending on the value of an attribute."
How to have a dynamic index to index my users by city.
Examples index: user-{this.cityID}

[2020-12-12 19:45] #543 closed

[2020-12-28 10:33] davNazaryan opened #548 "options for unIndex method"
This issue is a feature request to add `refresh` option inside for `unIndex` options.

## Your Environments
- mongoosastic 4.6.0
- node version: 12.19.0
- mongoose version: 5.10.11
- elasticsearch version: 7.x

## Expected Behavior
As you can see [here](https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/api-reference.html#_delete) the elastic node clients provide a bunch o

[2021-01-06 12:55] #545 closed

[2021-02-07 23:28] scarabetta commented on #380
2021: Suddenly I started getting that same error message. As the document was saved in MongoDB, I suspect it's something with mongoosastic / elasticsearch. In fact, if I remove the plugin, the error dissapears.

I see many people came across this issue, but so far haven't found a workaround. I really would like to put back mongoosastic!

[2021-03-05 03:14] zsy2053 commented on #457
Hi I'm interested, please let me know how to help

[2021-05-20 13:29] BhupenPal opened #560 "_doc.populate is not a function"
## Your Environments
- "mongoosastic": "^4.6.0",
- node version: v15
- "mongoose": "^5.11.12"
- "@elastic/elasticsearch": "^7.12.0",

## Expected Behavior
While reading and updating the document with findOneAndUpdate, it should return the document and update the changes in MongoDB, and if there is any change in the indexed data the same should be updated on Elastic Search. But instead, it is throw

[2021-05-20 13:50] BhupenPal commented on #339
Hey @superbarne,
This doesn't work with lean: true, lean basically returns a POJO (Plain Old JavaScript Object) and it is not a MongoDB document, hence no MongoDB operations can be performed upon it.

Thanks

[2021-05-20 13:54] BhupenPal commented on #560
Never mind, I was using lean: true while querying with findOneAndUpdate which basically just returns a POJO (Plain Old JavaScript Object) and MongoDB operations like .populate() .index() can't be run on them. Took around an hour to figure it out after trying to debug the package myself.

[2021-05-20 13:54] #560 closed

[2021-06-02 17:25] #548 closed

[2021-06-30 11:39] Zakharen commented on #339
@superbarne @aabanaag try to use `Wallet.updateOne` instead of 'Wallet.findOneAndUpdate'

[2021-07-03 17:18] subhamg commented on #457
Hey! I have a decent idea about the mongoose and elastic search. I have been using both for quite a while. Let me know how can I help you. Thanks

[2021-07-04 17:57] subhamg commented on #457
Hi @guumaster, I want to convert the complete code into typescript. There are many developers using this library and are actually looking for types. Please let me help you with this. Thanks.

[2021-08-16 18:21] dariusj18 opened #567 "Typescript types"
I started working on this but ended up not needing it for a project.  Here's my `mongoose.d.ts` file if this library every adds typescript compatibility.

[code]

[2021-09-20 03:48] xindixu opened #569 "Can't deploy to Heroku due to "Error: Unable to load PFX certificate" from mongoosastic"
I deployed my Node.js app with React frontend to Heroku, with Bonsai add-on. The error " Error: Unable to load PFX certificate" thrown from mongoosastic is preventing the app to run. Any help will be appreciated.

## Your Environments
- mongoosastic version: 4.6.0
- node version: 16.9.1
- mongoose version: 5.13.9
- elasticsearch version: 16.7.2

## Expected Behavior
App should run.

## Actual Beha

[2021-10-01 09:11] Artem-Tsymbal opened #570 "Can't get nested fields."
## Your Environments
![image](https://user-images.githubusercontent.com/46108437/135594452-d0dabaae-6112-4f24-8d67-2d1bbc1f207b.png)
![image](https://user-images.githubusercontent.com/46108437/135594544-4f66f109-7415-4934-9586-2f82dab8d9fa.png)

## Expected Behavior
Get like via extension object with nested field "Company".
![image](https://user-images.githubusercontent.com/46108437/135593697-ac74

[2021-10-08 15:07] rap2hpoutre commented on #457
This thread is not super active, so we created one more lib 🙄 (sorry 😅): https://github.com/selego/mongoose-elastic, maybe it could help some users, we use it in production.

[2021-10-18 23:58] renovate[bot] opened #572 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update all](../pull/574) (`async`, `coveralls`, `elasticsearch`, `eslint-plugin-promise`, `eslint-plugin-standard`, `mocha`, `mongoose`, `sta

[2021-10-31 10:41] yahiakr commented on #457
Hi @guumaster @meabed
I was working in the few past week on:

* immigrating to Typescript,
* spliting the code so it would be more readable,
* re-writing all the tests in Typescript,
* defining the types for mongoose documents/models
* Imegrate to the new version of @elastic/elasticsearch-js & mongoose
* fix bugs related to bulking stream

Here's my repo: https://github.com/yahiakr/mongoosastic-pl

[2021-10-31 17:34] meabed commented on #457
Amazing - I will prepare the PR shortly!

@yahiakr Thats great!! would you have a chance to look at the way i have migrated it as well and see if there improvements there - so we maybe combine all the effort in one PR to merge it back here?

Thank you

[2021-11-01 10:21] yahiakr commented on #457
Hi @meabed,
Of course! I will see if i can help with anything so we can make one major PR.
Thanks for your work and your efforts. I will let you know once i go through your repository.

[2021-11-12 10:01] guumaster commented on #567
Hi @dariusj18, we are migrating to TS on this PR: #573. As you are already more familiar with TS than I, could you please take a look at that PR and share any insight you may have? Thanks!

[2021-11-15 16:00] yahiakr opened #576 "v5.0 Roadmap"
# Mongoosastic v5.0 Roadmap

This work is currently happening in the [develop](https://github.com/mongoosastic/mongoosastic/tree/develop) branch.

- [x] Move to TypeScript.
- [x] Drop callback-style API, and make all the methods promise-based (using async/await syntax).
- [x] Migrate to JEST as a testing framework.
- [x] Migrate to the new version of Elasticsearch client library [@elastic/elastics

[2021-11-15 16:03] yahiakr commented on #576
Ping @guumaster @meabed

[2021-11-15 16:13] guumaster opened #577 "Publish new major version to NPM"
This is the list of task pending before publishing the new v5.0 to NPM:

- [ ] migrate from TravisCI to Github Actions
- [ ] update dependencies
   - [ ] @elastic/elasticsearch => 7.15
   - [ ] mongoose => 6.0
   - [ ] jest => 27.0
- [ ] update docs
- [ ] (optional) automate semantic-release for publishing new versions

[2021-11-15 16:16] guumaster commented on #577
closing this in favor of #576

[2021-11-15 16:16] #577 closed

[2021-11-15 16:19] guumaster commented on #576
Welcome the two new maintainers @yahiakr and @meabed :tada:

[2021-11-15 16:21] guumaster commented on #567
I'm closing this as we are already working on a full re-write in TS. Feel free to check `develop` branch and share any comment you may consider. Thanks!

[2021-11-15 16:21] #567 closed

[2021-11-15 16:22] guumaster commented on #457
Thanks and Welcome the two new maintainers @yahiakr and @meabed :tada:

I'm closing this for now.

[2021-11-15 16:22] #457 closed

[2021-11-15 16:25] guumaster commented on #569
Thanks for reporting it. Since this is related to ElasticSearch, I'm closing this.

[2021-11-15 16:25] #569 closed

[2021-11-15 16:26] guumaster commented on #452
already in progress in v5.

[2021-11-15 16:26] #452 closed

[2021-11-15 16:38] #572 closed

[2021-11-15 18:42] meabed commented on #576
Awesome - glad to contribute here, @yahiakr Thanks for great work, let know if you need support from with those items on the checklist, as well as if you could take a look at my code most of those items are done if this could help 🔥

[2021-11-16 08:57] guumaster commented on #576
@meabed can you create a new PR with the parts that you already have from this list? Mention here which one would you work on, so it won't be duplicated

[2021-11-18 15:39] yahiakr commented on #576
About `Jest`, the new `27.x` version does not support done callback and async test simultaneously (see this: [#10529](https://github.com/facebook/jest/issues/10529)).

As we are using both of them in event-based tests (e.g: to test `synchronize` method), and since Jest is a dev dependency, i think we can keep the current version for now, and focus on updating it after realising the 5.0 version.

[2021-11-18 15:44] meabed commented on #576
I don't think we need jest, mocha is fine.

[2021-11-18 19:22] guumaster commented on #576
@yahiakr I've notice that v26 runs ok, but v27 have some issues. It's ok to stick with v26. I'll remove it from the list.  @meabed, all tests are already in jest :)

[2022-01-11 13:01] smolinari commented on #576
Is this still being worked on? I'm hugely interested in it.

Scott

[2022-01-11 13:17] guumaster commented on #576
@smolinari it's going slow but firm. I'll be released soon*

(*) but with no promise on a specific date.

[2022-01-11 13:21] smolinari commented on #576
Awesome. That is the best answer I could get! 😁

Scott

[2022-01-12 06:22] HishamMubarak commented on #576
Looking forward to this release. I am not an expert, but if there is anything I could do to help, please point me in the right direction.

[2022-02-04 11:55] GrapeoffJS commented on #576
I am really waiting for this release because of typescript, best wishes for all of mongoosastic team - you are the best!

[2022-02-04 19:30] meabed commented on #576
@GrapeoffJS I have released version here incase you are at hurry ( until this version is released ) https://github.com/meabed/mongoosastic-ts

[2022-02-06 19:02] HishamMubarak opened #585 "Unable to es_index values inside discriminator's schemas"
I have two mongoose models with discriminators added to them, when I try to index the content inside the discriminator schema, there is no effect at all. It doesn't show up in the mapping of the created index in elasticsearch.

## Your Environments
- mongoosastic version: 4.6.0
- node version: 17.2.0
- mongoose version: 5.12.2
- elasticsearch version: 7.16.2

## Expected Behavior
The nested fields

[2022-02-06 19:21] HishamMubarak opened #586 "Add option to overwrite the default ignore_above mapping value of 256 characters"
Right now, in the mapping-generator.js, the default value for ignore_above is hardcoded to 256 characters. Current possible mapping definitions do not list this as an option, so I assume there is no option to update the value of ignore_above values.

I tried overwriting the code to support ignore_above like this by editing node_modules directly with patch-package.

[code]
The above value gets adde

[2022-02-14 21:15] hnviradiya commented on #576
I am planning to support all (as they are small in numbers at moment) the pending issues with some freelancers working with me once this typescript version is released. Or you can also update me if you need any help with typescript upgrade as well. I will ask folks to work on that.

[2022-03-02 10:28] #570 closed

[2022-03-04 18:16] guumaster commented on #576
If anyone want to help testing before release, you can install the first RC with the following command:

`npm i mongoosastic@next` and you will get the latest rc, which is `v5.0.0-rc.1` at the moment. Thanks!

[2022-03-06 17:54] Dreaming-Codes commented on #576
It doesn't work for me, the package is not compiled and I have to open the node_modules folder by hand and run inside mongoosastic npm install && npm run build

[2022-03-07 10:20] guumaster commented on #576
thanks @Dreaming-Codes it is already changed and built before publish. `rc.2` is available now.

[2022-03-16 12:00] guumaster commented on #576
🚀  🎉  We have v5 live! cheers and thanks to @yahiakr and @meabed and all collaborators that made this possible!! 👏

[2022-03-16 13:13] #5 closed

[2022-03-16 13:13] #7 closed

[2022-03-16 13:15] #57 closed

[2022-03-17 12:25] guumaster opened #591 "update `jest` to latest version"
when using `jest@latest` (currently v27) test suites brake with this error:

[code]

several tests needs to be reviewed.

[2022-03-17 13:05] yahiakr commented on #591
The new 27.x version does not support done callback and async test simultaneously (see this: https://github.com/facebook/jest/issues/10529).

As we are using both of them in event-based tests (e.g: to test synchronize method), we need to think of a way to tests those methods with one paradigm (done callback or async).

[2022-03-24 10:49] vmorgado opened #592 "synchronize function not working as expected"
synchronize function seems to not be working as advertised. When we set the bulk options it still synchronizes by indexing one by one instead of the designed batch size.

## Your Environments
- mongoosastic version: 5.0.0
- node version: 14.18.1
- mongoose version: 6.1.4
- elasticsearch version: 7.4.0

## Expected Behavior
When running synchronize method with the bulk import options enabled we sho

[2022-03-24 12:28] yahiakr commented on #592
Hi @vmorgado,

Thank you for opening this issue. I tried to re-debug the code, and re-run the synchronize tests with different options, the function is seems to work as expected.

Could you please share a code snippet so we can reproduce the bug?
Thanks.

[2022-03-25 08:46] vmorgado commented on #592
Hey yahiakr, thanks for the quick answer.

The synchronise does not work as advertised by the documentation:

``` You can also specify bulk options with mongoose which will utilize Elasticsearch's bulk indexing api. This will cause the synchronize function to use bulk indexing as well. ```

Altho if you look into your code for the synchronize function, the code there is not calling your bulk impor

[2022-03-26 11:14] yahiakr commented on #592
Hi,

In `synchronise` method, we get the batch from mongo stream, then we enable “re-saving” of the document in case you have custom pre/post hooks to run before saving it to ES (this is optional, check `saveOnSynchronize` option in the documentation).

In case `saveOnSynchronize` is `false`, we call the `postSave()` method (e.g: to populate data in necessary), but with the `bulk options` already

[2022-04-03 23:43] #592 closed

[2022-04-08 12:12] n3v3rf411 opened #595 "Improve error messages on bulk request errors"
## Your Environments
- mongoosastic version: 5.0.0
- node version: 14.19.1
- mongoose version: 6.2.10
- elasticsearch version: 7.11.0

## Expected Behavior
When individual items in bulk requests have errors and there's no handler for bulkError's error, the following gets logged that is hard to debug:
[code]

## Actual Behavior
https://github.com/mongoosastic/mongoosastic/blob/f241ef8f87583ab834080

[2022-04-27 15:31] #585 closed

[2022-05-09 19:11] sibelius opened #599 "accept string on es_schema"
## Your Environments
- mongoosastic version: 5.0.0
- node version: 16.14.2
- mongoose version: 6.0.13
- @elastic/elasticsearch: 8.2.0

## Expected Behavior

it should work with simple string

## Actual Behavior

it only works with schema

## Error Stack

ES synchroninic error User 5ca50f8b9a509a003f165fef ResponseError: mapper_parsing_exception: [mapper_parsing_exception] Reason: object mapping fo

[2022-05-24 12:25] Alaa-Mahmoud opened #600 "need bulkAdd method to be exposed so we can use it on the model , as we are facing problem with synchronize method"
We need to import and existing MogoDB collection to elastic-search when using the synchronize method on the model it takes a lot of time like almost 2 days and didn't finish or get close our dataset is more than 1 Million document but when we exposed the bulkAdd method and use it instead of the synchronize method all dataset filled into elastic-search in 15 - 20 minutes and this is a reasonable ti

[2022-05-25 11:03] vmorgado commented on #600
Same as this, https://github.com/mongoosastic/mongoosastic/issues/592 .
Unfortunately is not possible to create MR to this repo.
Exporting the bulkAdd and using it instead works as intended.

[2022-05-26 13:38] Alaa-Mahmoud commented on #600
@yahiakr @guumaster  please help and advice.

[2022-05-26 23:54] yahiakr commented on #600
Hi @Alaa-Mahmoud,

Thank you for opening this issue.

If you think that exposing the `bulkAdd` method will solve the problem "temporarily", feel free to open a PR and i will merge it. Meanwhile, if you can debug the problem/bug, it would be great to fix the `synchronize` method so we don't need to use the `bulkAdd` method.

I will try to find some time to debug and fix the problem. Any contributio

[2022-05-27 07:47] vmorgado commented on #600
I can't push a branch against this repo, perhaps we need contributor rights (?)

[2022-05-27 08:07] Alaa-Mahmoud commented on #600
@yahiakr i did follow the contribution guideline and when i try to push my branch i get

fatal: unable to access 'https://github.com/mongoosastic/mongoosastic.git/': The requested URL returned error: 403

please advice  , do i need a contribution access or something ?

[2022-05-27 08:07] Alaa-Mahmoud commented on #600
same issue

[2022-05-27 09:01] guumaster commented on #600
@Alaa-Mahmoud @vmorgado only Contributors can push directly to branches. But you can fork an create a PR as usual, if you need more info on that you can check the GitHub docs on this page [Creating a pull request from a fork](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork)

[2022-06-15 14:43] willredmo opened #602 "Unable to bulk index - Error: "[action_request_validation_exception] Validation Failed: 1: type is missing;""
I am having issues indexing in bulk against elastic search. Not sure what changed but I not get "type is missing" error messages from elastic search.
Is there a way to configure elastic search to not require "type" for bulk indexing?

## Your Environments
- mongoosastic version: 4.6.0
- node version: 14.17.1
- mongoose version: 5.5.11
- elasticsearch version: 6.4

## Expected Behavior
Documents sh

[2022-06-17 13:24] Czandal opened #603 "Cannot connect to elasticsearch server from docker container"
I have mongoDB server and elasticsearch servers both running locally, when I try to connect to them from node.js app (running locally) everything works fine. But when I deploy the app to the container, it only connects with mongoDB. I have tried finding solution on the internet, but haven't found any (maybe due to my imcomptence). I have tried both localhost and docker.host.internal in my url but

[2022-06-22 11:42] nitzan-blink commented on #540
@ddtraceweb how did you handle this eventually?

[2022-06-25 08:43] hasezoey opened #604 "Option `routing` is not in the documentation"
## Your Environments
- mongoosastic version: x.y.z
- node version: x.y.z
- mongoose version: x.y.z
- elasticsearch version: x.y.z

## Expected Behavior
To have the option in the documentation

## Actual Behavior
Option is not in the documentation

## Error Stack

---

https://mongoosastic.github.io/mongoosastic/#options

[2022-06-30 23:58] woon-werd opened #605 "The ElasticSearch result does not contain body - it should be just res.hits"
https://github.com/mongoosastic/mongoosastic/blob/49ff5ba9daf6704f8ac7adcc83392c8033d33687/lib/utils.ts#L105

[2022-07-13 11:21] alexandermakalov commented on #605
I use elasticsearch 8.3.2 and API 8.3
`        this.esClient()
            .bulk({
            body: bulkBuffer,
        })
            .then((res) => {
            if (res.body.items && res.body.items.length) {
                for (let i = 0; i < res.body.items.length; i++) {
                    const info = res.body.items[i];
                    if (info && info.index && info.index.error) {

[2022-07-24 18:54] #591 closed

[2022-07-24 18:54] #534 closed

[2022-07-24 18:55] #48 closed

[2022-07-29 09:12] #600 closed

[2022-08-14 02:14] #586 closed

[2022-08-21 10:19] nitzan-blink commented on #605
having this issue as well, when I use model.synchronize(), I get errors that "res" doesn't have "body" property.
file: bulking.js, function: flush().

[code]

[2022-08-25 15:13] yahiakr commented on #605
Hey! Thanks for opening this issue.

The reason behind this error is that `v5` of the package is compatible with `v7.x` of Elasticsearch, as it use `@elastic/elasticsearch:7.x.x` under the hood.
The `v4.x` of `mongoosastic` is compatible with `v6.x` of Elasticsearch, etc ..

I would say it's my fault, I need to add this compatibly matrix in the `README.md`, sorry for that.

We will try to find som

[2022-08-25 15:14] #605 closed

[2022-08-31 14:28] alexandermakalov opened #608 "Move tslib from devDependencies to dependencies"
Hi,
Could you move the tslib package from devDependencies to dependencies property?

If mongoosastic is installed with --production flag then you will see the error

"Cannot find module 'tslib'\nRequire stack:\n- /data/app/node_modules/mongoosastic/dist/index.js\n-

mongoosastic/dist/index.js first lines
`"use strict";
const tslib_1 = require("tslib");
const events_1 = (0, tslib_1.__importDefault)

[2022-09-06 12:35] MostafaBekhet commented on #436
does mongoosastic version 5.0.0 supports Elastic version 8.4.0 ?

[2022-10-14 07:16] tsippert opened #611 "Update Mongoose Dependency [Open Vulnerability]"
There is an open vulnerability in the current Mongoose version in the dependencies from mongoosastic.

Please update Mongoose at least to version `mongoose@6.4.6`

https://nvd.nist.gov/vuln/detail/CVE-2022-2564
https://cwe.mitre.org/data/definitions/1321.html